<div class="container">
	<h2><%= @project.name %></h2>
	<p><%= @project.description %></p>
       <div class="row">
    	   <div class='col-sm-3 thumb'>
                <a href="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/6635ce43187741.57e6809d667cc.jpg" data-fancybox="images">
                    <img class="img-responsive center-block" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/6635ce43187741.57e6809d667cc.jpg" />
                </a>
            </div>
            <div class='col-sm-3 thumb'>
                <a href="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/e5bc3943187741.57e6809d65bb3.jpg" data-fancybox="images">
                    <img class="img-responsive center-block" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/e5bc3943187741.57e6809d65bb3.jpg" />
                </a>
            </div>
            <div class='col-sm-3 thumb'>
                <a href="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/c7c7ab43187741.57e6809d6618e.jpg" data-fancybox="images">
                    <img class="img-responsive center-block" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/c7c7ab43187741.57e6809d6618e.jpg" />
                </a>
            </div>
            <div class='col-sm-3 thumb'>
                <a href="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/08559243187741.57e6809d65677.jpg" data-fancybox="images">
                    <img class="img-responsive center-block" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/08559243187741.57e6809d65677.jpg" />
                </a>
            </div>

        </div>
        
</div> <!-- container / end -->


